.error {
  display: flex;
  flex-direction: column;
  gap: var(--space-m);
  align-items: center;
  text-align: center;

  &__code {
    font-size: 40px;
    font-weight: 500;
  }

  &__text {
    margin-bottom: var(--space-xl);
    font-size: var(--font-size-xl);
  }
}
